:root {
    --modal-duration: 0.8s;
}
.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0;
    margin-bottom: 9px;
    display: flex;
    & .container-photograph {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: auto;
        padding-left: 2.15%;
        padding-right: 2.15%;
    }
}
.presentation {
    margin: 0;
    & h2 {
        font-size: 3.1em;
        color: $color-second-primary;
        margin-bottom: 0px;
    }
    & .location-photographer {
        color: $color-third-secondary;
        font-size: 1.15em;
        margin-top: 16px;
        margin-bottom: 0px;
    }
    & .tagline-photographer {
        color:  $color-second-secondary;   
        font-size: 0.9em;
        margin-top: 19px;
    }
}
.button_modal {
    margin: auto 4.5%;
    & .contact_button {
        font-size: 20px;
        font-weight: bold;
        color: white;
        padding: 11px;
        width: 170px;
        height: 56px;
        border: none;
        background: #901C1C;
        border-radius: 5px;
        cursor: pointer;
        margin: auto;
    }
}

.photo {
    margin: 0;
}

.contact_button:hover, .contact_button:focus{
    background: $background-focus;
    color: $color-focus ;
    border: 1px solid $color-focus;
}

.photograph-header .photo img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

.label-sorter {
    font-size: 1.12em;
    font-weight: 700;
}

#sorter-select {
    background: $background-static;
    color: $color-static;
    font-weight: 700;
    font-size: 1.12em;
    width: 170px;
    border-radius: 5px;
    padding: 23px 0px 23px 20px;
}

.media-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 114px;
    text-align: center;
    & article {
        display: flex;
        flex-wrap: wrap;
        width: 29%;
        margin: 1%;
    }
}
.media-section  a {
    text-decoration: none;
    outline: none;
    width: 100%;
    height: 90.4%;
    & .containerMedia {
        height: 300px;
    }
}
.media-section  img, .media-section  video {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.description {
    display: flex;
    width: 100%;
    color: $color-third-secondary;
    justify-content: flex-end;
    font-size: 1.15em;
    margin-right: 1%;
    margin-left: 0.5%;
    & .titre {
        margin-right: auto;
        & p {
            margin: 2.5% 0 0 0;

        }
    }
    & .numberLike {
        display: flex;
        width: 15%;
        justify-content: flex-end;
        & .likes {
            font-weight: 600;
            margin: 2.5% 0 0 0;
        }
        & .heart {
            width: 22px;
            fill: transparent;
            stroke: $color-third-secondary;
            stroke-width: 22px;
            margin-left: 7%;
        }
    }
}

.like-price {
    position: fixed;
    right: 36px;
    bottom: 0%;
    width: 20%;
    & .price-background {
        display: flex;
        justify-content: space-around;
        background: $background-secondary;
        border-radius: 5px 5px 0px 0px;
        font-weight: 600;
    }
}

.like-photographer {
    display: flex;
    flex-wrap: nowrap;
    width: 50%;
    margin-top: auto;
    & .heart {
        margin-left: 5%;
        width: 20px;
        fill: black;
        stroke-width: 13px;
    }
}