
/*body, html {
    margin: 0;
    padding: 0;
    min-height: 100%;
    overflow-x: hidden;
}

body {
    font-family: sans-serif;
    padding: 50px;
    background: linear-gradient(45deg, #f37646, #f3e946) center center no-repeat;
    line-height: 1.4;
}*/
#carousel1 {
    z-index: 1;
    margin: 0;
    padding: 50px 0px 0px 0px;
    min-height: 100%;
    overflow-x: hidden;
    line-height: 1.4;
    position: fixed;
    top: 0;
    background: #fff;
    left: 0;
    width: 100%;
}


.title {
    font-size: 25px;
    color: #fff;
    font-weight: bold;
    margin-bottom: 25px;
}

.item {
    margin: 40px 10px;
    background-color: #fff;
    transition: transform 0.3s;
    transform: translate3d(0, -1px, 0);
    position: relative;
    overflow: hidden;
    left: 102px;
    & .description {
        display: flex;
        width: 100%;
        color: #901C1C;
        & .titre {
            font-size: 1.2em;
            font-weight: bold;
            margin-left: 42%;
        }
    }
}
.items__content {
    width: 48.5%;
    margin: auto;
}

.item:hover {
    transform: translate3d(0, -10px, 0);
}

.item img {
    display: block;
    width: 100%;
    height: auto;
}

#carousel1 .item img, #carousel1 .item video {
    display: block;
    width: 89%;
    height: 650px;
    border-radius: 5px;
    object-fit: contain;
}

#carousel2 .item img {
    display: block;
    width: 100%;
    height: 350px;
}

#carousel3 .item img {
    display: block;
    width: 100%;
    height: 650px;
}

/**
 Carousel
*/
.carousel {
    position: relative;
}
.carousel .modal-close-btn {
    position: absolute;
    top: 5%;
    right: 120px;
    margin: 0px;
    background-color: transparent;
    color: $background-primary;
    width: 25px;
    height: 46px;
    font-size: 2.5em;
    font-weight: bold;
}

.carousel__container {
    transition: transform 0.3s;
    transform: translate3d(0, 0, 0);
}

.carousel__container::after {
    content: '';
    clear: both;
    display: table;
}

.carousel__item {
    float: left;
}

.carousel__next, .carousel__prev {
    position: absolute;
    width: 40px;
    height: 40px;
    background: #fff url(../assets/icons/fleche.png) center center no-repeat;
    background-size: 20px 20px;
    border-radius: 50%;
    top: 50%;
    margin-top: -20px;
    right: 11px;
    box-shadow: 0 15px 35px #3232321a, 0 5px 15px #0000001a;
    cursor: pointer;
    transform: rotate(180deg);
    transition: transform 0.3s, opacity 0.3s;
}

.carousel__next:hover, .carousel__prev:hover {
    transform: scale(1.2) rotate(180deg);
}

.carousel__prev:hover {
    transform: scale(1.2);
}

.carousel__prev {
    right: auto;
    left: 12px;
    transform: rotate(0deg);
}

.carousel__next--hidden, .carousel__prev--hidden {
    opacity: 0;
}