@charset "UTF-8";
/* Guide d'accessibilité */
@keyframes modalclose {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
body {
  font-family: "DM Sans", sans-serif;
  margin: auto 100px;
}

a {
  border: 3px solid transparent;
}

a:hover, a:focus {
  border: 3px solid #DB8876;
}

/*body, html {
    margin: 0;
    padding: 0;
    min-height: 100%;
    overflow-x: hidden;
}

body {
    font-family: sans-serif;
    padding: 50px;
    background: linear-gradient(45deg, #f37646, #f3e946) center center no-repeat;
    line-height: 1.4;
}*/
#carousel1 {
  z-index: 1;
  margin: 0;
  padding: 50px 0px 0px 0px;
  min-height: 100%;
  overflow-x: hidden;
  line-height: 1.4;
  position: fixed;
  top: 0;
  background: #fff;
  left: 0;
  width: 100%;
}

.title {
  font-size: 25px;
  color: #fff;
  font-weight: bold;
  margin-bottom: 25px;
}

.item {
  margin: 40px 10px;
  background-color: #fff;
  transition: transform 0.3s;
  transform: translate3d(0, -1px, 0);
  position: relative;
  overflow: hidden;
  left: 102px;
}
.item .description {
  display: flex;
  width: 100%;
  color: #901C1C;
}
.item .description .titre {
  font-size: 1.2em;
  font-weight: bold;
  margin-left: 42%;
}

.items__content {
  width: 48.5%;
  margin: auto;
}

.item:hover {
  transform: translate3d(0, -10px, 0);
}

.item img {
  display: block;
  width: 100%;
  height: auto;
}

#carousel1 .item img, #carousel1 .item video {
  display: block;
  width: 89%;
  height: 650px;
  border-radius: 5px;
  object-fit: contain;
}

#carousel2 .item img {
  display: block;
  width: 100%;
  height: 350px;
}

#carousel3 .item img {
  display: block;
  width: 100%;
  height: 650px;
}

/**
 Carousel
*/
.carousel {
  position: relative;
}

.carousel .modal-close-btn {
  position: absolute;
  top: -2%;
  right: 120px;
  margin: 0px;
  background-color: transparent;
  color: #901C1C;
  width: 25px;
  height: 46px;
  font-size: 2.5em;
  font-weight: bold;
}

.carousel__container {
  transition: transform 0.3s;
  transform: translate3d(0, 0, 0);
}

.carousel__container::after {
  content: "";
  clear: both;
  display: table;
}

.carousel__item {
  float: left;
}

.carousel__next, .carousel__prev {
  position: absolute;
  width: 40px;
  height: 40px;
  background: #fff url(../assets/icons/fleche.png) center center no-repeat;
  background-size: 20px 20px;
  border-radius: 50%;
  top: 50%;
  margin-top: -20px;
  right: 11px;
  box-shadow: 0 15px 35px #3232321a, 0 5px 15px #0000001a;
  cursor: pointer;
  transform: rotate(180deg);
  transition: transform 0.3s, opacity 0.3s;
}

.carousel__next:hover, .carousel__prev:hover {
  transform: scale(1.2) rotate(180deg);
}

.carousel__prev:hover {
  transform: scale(1.2);
}

.carousel__prev {
  right: auto;
  left: 12px;
  transform: rotate(0deg);
}

.carousel__next--hidden, .carousel__prev--hidden {
  opacity: 0;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

/*dialog overlay*/
.c-dialog {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #C4C4C466;
  transition: 0.3s;
}

/*dialog box*/
.c-dialog__box {
  margin: 1.8% auto;
  width: 100%;
  max-width: 699px;
  background: #db8876;
  border-radius: 10px;
  color: #000000;
  height: auto;
  display: flex;
}

/*hidden dialog*/
.c-dialog[aria-hidden=true] {
  visibility: hidden;
  opacity: 0;
}

.bground {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  overflow: auto;
  background-color: #C4C4C466;
}

.content {
  margin: 1.8% auto;
  width: 100%;
  max-width: 699px;
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
  background: #db8876;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  color: #000000;
}

.modal {
  border-radius: 5px;
  background-color: #DB8876;
  width: 90.1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0% 5% 5.44%;
}

form {
  width: 100%;
}

.sorter-form {
  display: flex;
}

.container-select {
  position: relative;
}

.fleche-select {
  margin: 0px;
  width: 12%;
  color: white;
  font-weight: 600;
  position: absolute;
  top: 20px;
  right: 5px;
  font-size: 1.2em;
  background: #901C1C;
}

form label {
  color: #312E2E;
  font-size: 1.2em;
}

.en_tete {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 4%;
}

.en_tete h2 {
  font-size: 2em;
  margin: 0px;
  margin-right: 40%;
  margin-top: 24px;
}

.en_tete :nth-child(1) {
  order: 2;
}

.en_tete :nth-child(2) {
  order: 1;
}

.modal-close-btn {
  margin: 24px 0px 24px 35px;
  width: 7%;
  height: 37%;
  background-color: #db8876;
  color: black;
  border: 0px solid #db8876;
  font-size: 2em;
}

.modal-close-btn:focus, .modal-close-btn:hover {
  border: 1px solid #000000;
  background-color: #000000;
  color: white;
}

.en_tete img {
  width: 100%;
  height: 100%;
}

.div_form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
}
.div_form p {
  margin: 0;
  width: 98%;
}
.div_form .contact_button {
  width: 170px;
  height: 69px;
  background: #901c1c;
  color: white;
  font-size: 1.1em;
  border-radius: 5px;
  border: 0px solid;
  margin-top: 26px;
  font-weight: bold;
}

.div_form input {
  width: 99%;
  height: 54px;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  margin-bottom: 4px;
}

.div_form textarea {
  width: 99%;
  height: 98px;
  border-radius: 5px;
  font-size: 1.2em;
}

input::placeholder, textarea::placeholder {
  color: #901C1C;
  opacity: 0.5;
}

.contact_button:hover, .contact_button:focus {
  background: #DB8876;
  color: black;
  border: 1px solid black;
}

#errorFirst, #errorSecond, #errorEmail, #errorMessage {
  display: none;
  font-size: 1.1em;
  color: black;
  font-weight: bold;
  transition: 0.5s;
}

:root {
  --modal-duration: 0.8s;
}

.photograph-header {
  background-color: #FAFAFA;
  height: 300px;
  margin: 0;
  margin-bottom: 9px;
  display: flex;
}
.photograph-header .container-photograph {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: auto;
  padding-left: 2.15%;
  padding-right: 2.15%;
}

.presentation {
  margin: 0;
}
.presentation h2 {
  font-size: 3.1em;
  color: #D3573C;
  margin-bottom: 0px;
}
.presentation .location-photographer {
  color: #901C1C;
  font-size: 1.15em;
  margin-top: 16px;
  margin-bottom: 0px;
}
.presentation .tagline-photographer {
  color: #525252;
  font-size: 0.9em;
  margin-top: 19px;
}

.button_modal {
  margin: auto 4.5%;
}
.button_modal .contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 56px;
  border: none;
  background: #901C1C;
  border-radius: 5px;
  cursor: pointer;
  margin: auto;
}

.photo {
  margin: 0;
}

.contact_button:hover, .contact_button:focus {
  background: #DB8876;
  color: black;
  border: 1px solid black;
}

.btn-submit:hover, .btn-submit:focus {
  background: black;
  color: white;
}

.photograph-header .photo img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
}

.label-sorter {
  font-size: 1.12em;
  font-weight: 700;
  margin-right: 20px;
  margin-top: auto;
  margin-bottom: auto;
}

#sorter-select {
  background: #901C1C;
  color: white;
  font-weight: 700;
  font-size: 1.12em;
  width: 170px;
  border-radius: 5px;
  padding: 23px 0px 23px 10px;
}

.media-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 114px;
  text-align: center;
}
.media-section article {
  display: flex;
  flex-wrap: wrap;
  width: 29%;
  margin: 1%;
}

.media-section a {
  text-decoration: none;
  outline: none;
  width: 100%;
  height: 90.4%;
}
.media-section a .containerMedia {
  height: 300px;
}

.media-section img, .media-section video {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
}

.description {
  display: flex;
  width: 100%;
  color: #901C1C;
  justify-content: flex-end;
  font-size: 1.15em;
  margin-right: 1%;
  margin-left: 0.5%;
}
.description .titre {
  margin-right: auto;
}
.description .titre p {
  margin: 2.5% 0 0 0;
}
.description .numberLike {
  display: flex;
  width: 15%;
  justify-content: flex-end;
}
.description .numberLike .likes {
  font-weight: 600;
  margin: 2.5% 0 0 0;
}
.description .numberLike .heart {
  width: 22px;
  fill: transparent;
  stroke: #901C1C;
  stroke-width: 22px;
  margin-left: 7%;
  cursor: pointer;
}
.description .numberLike .heart:hover {
  border: 1px solid black;
}

.like-price {
  position: fixed;
  right: 36px;
  bottom: 0%;
  width: 20%;
}
.like-price .price-background {
  display: flex;
  justify-content: space-around;
  background: #D3573C;
  border-radius: 5px 5px 0px 0px;
  font-weight: 600;
}

.like-photographer {
  display: flex;
  flex-wrap: nowrap;
  width: 50%;
  margin-top: auto;
}
.like-photographer .heart {
  margin-left: 5%;
  width: 20px;
  fill: black;
  stroke-width: 13px;
}

h1 {
  color: #901C1C;
}

.logo {
  height: 50px;
}

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;
  margin-bottom: 114px;
  text-align: center;
}

.photographer_section article a {
  text-decoration: none;
  outline: none;
}

.photographer_section article {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container-portrait {
  margin: auto;
  height: 200px;
  width: 200px;
}

.photographer_section article img {
  height: 100%;
  width: 100%;
  border-radius: 100%;
  object-fit: cover;
}

.photographer_section article h2 {
  color: #D3573C;
  font-size: 2em;
  margin-bottom: 0px;
}

.photographer_section article .location, .photographer_section article .tagline, .photographer_section article .price {
  margin: 0px;
  text-align: center;
}

.photographer_section article .location {
  color: #901C1C;
  font-size: 0.9em;
}

.photographer_section article .tagline {
  color: black;
  font-size: 0.85em;
}

.photographer_section article .price {
  color: #757575;
  font-size: 0.8em;
}

/*# sourceMappingURL=style.css.map */
