@charset "UTF-8";
/* Guide d'accessibilité */
@keyframes modalclose {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
body {
  font-family: "DM Sans", sans-serif;
  margin: auto 100px;
}

a {
  border: 3px solid transparent;
}

a:hover, a:focus {
  border: 3px solid #D3573C;
}

/*body, html {
    margin: 0;
    padding: 0;
    min-height: 100%;
    overflow-x: hidden;
}

body {
    font-family: sans-serif;
    padding: 50px;
    background: linear-gradient(45deg, #f37646, #f3e946) center center no-repeat;
    line-height: 1.4;
}*/
#carousel1 {
  z-index: 1;
  margin: 0;
  padding: 50px 0px 0px 0px;
  min-height: 100%;
  overflow-x: hidden;
  line-height: 1.4;
  position: fixed;
  top: 0;
  background: #fff;
  left: 0;
}

.title {
  font-size: 25px;
  color: #fff;
  font-weight: bold;
  margin-bottom: 25px;
}

.item {
  margin: 40px 10px;
  background-color: #fff;
  transition: transform 0.3s;
  transform: translate3d(0, -1px, 0);
}

.item:hover {
  transform: translate3d(0, -10px, 0);
}

.item img {
  display: block;
  width: 100%;
  height: auto;
}

#carousel1 .item img {
  display: block;
  width: 89%;
  height: 650px;
  box-shadow: 4px 0px #c4c4c4;
  border-radius: 5px;
}

#carousel2 .item img {
  display: block;
  width: 100%;
  height: 350px;
}

#carousel3 .item img {
  display: block;
  width: 100%;
  height: 650px;
}

.item__body {
  padding: 25px;
}

.item__title {
  font-size: 24px;
  margin-bottom: 5px;
  font-weight: bold;
  color: #232323;
}

.item__description {
  color: #585858;
}

.item {
  position: relative;
  overflow: hidden;
  left: 58px;
}

/**
 Carousel
*/
.carousel {
  position: relative;
}

.carousel .modal-close-btn {
  position: absolute;
  top: 5%;
  right: 11px;
  margin: 0px;
  width: 3.5%;
  height: 5.8%;
  background-color: transparent;
}
.carousel .modal-close-btn svg {
  fill: #901C1C;
  width: 42px;
  height: 42px;
}

.carousel__container {
  transition: transform 0.3s;
  transform: translate3d(0, 0, 0);
}

.carousel__container::after {
  content: "";
  clear: both;
  display: table;
}

.carousel__item {
  float: left;
}

.carousel__next, .carousel__prev {
  position: absolute;
  width: 40px;
  height: 40px;
  background: #fff url(../assets/icons/fleche.png) center center no-repeat;
  background-size: 20px 20px;
  border-radius: 50%;
  top: 50%;
  margin-top: -20px;
  right: 11px;
  box-shadow: 0 15px 35px #3232321a, 0 5px 15px #0000001a;
  cursor: pointer;
  transform: rotate(180deg);
  transition: transform 0.3s, opacity 0.3s;
}

.carousel__next:hover, .carousel__prev:hover {
  transform: scale(1.2) rotate(180deg);
}

.carousel__prev:hover {
  transform: scale(1.2);
}

.carousel__prev {
  right: auto;
  left: 12px;
  transform: rotate(0deg);
}

.carousel__next--hidden, .carousel__prev--hidden {
  opacity: 0;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

:root {
  --modal-duration: 0.8s;
}

.photograph-header {
  background-color: #FAFAFA;
  height: 300px;
  margin: 0;
  margin-bottom: 9px;
  display: flex;
}
.photograph-header .container-photograph {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: auto;
}

.presentation {
  margin: auto;
}
.presentation h2 {
  font-size: 3.1em;
  color: #D3573C;
  margin-bottom: 0px;
}
.presentation .location-photographer {
  color: #901C1C;
  font-size: 1.15em;
  margin-top: 16px;
  margin-bottom: 0px;
}
.presentation .tagline-photographer {
  color: #525252;
  font-size: 0.9em;
  margin-top: 19px;
}

.button {
  margin: auto 4.5%;
}
.button .contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 56px;
  border: none;
  background: #901C1C;
  border-radius: 5px;
  cursor: pointer;
  margin: auto;
}

.photo {
  margin: auto;
}

.contact_button:hover, .contact_button:focus {
  background: #DB8876;
  color: #000000;
  border: 1px solid #000000;
}

.bground {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  overflow: auto;
  background-color: #C4C4C466;
}

.content {
  margin: 1.8% auto;
  width: 100%;
  max-width: 699px;
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
  background: #db8876;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  color: #000000;
}

.modal {
  border-radius: 5px;
  background-color: #DB8876;
  width: 90.1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0% 5% 4%;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

form {
  width: 100%;
}

form label {
  color: #312E2E;
  font-size: 1.9em;
}

.en_tete {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 4%;
}

.en_tete h2 {
  font-size: 4em;
  margin: 0px;
}

.modal-close-btn {
  margin: 24px 0px 24px 35px;
  width: 7%;
  height: 7%;
  background-color: #db8876;
  color: white;
  border: 0px solid #db8876;
}

.modal-close-btn:focus, .modal-close-btn:hover {
  border: 1px solid #000000;
  background-color: #000000;
}

.en_tete img {
  width: 100%;
  height: 100%;
}

.div_form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

.div_form input {
  width: 99%;
  height: 68px;
  border: none;
  border-radius: 5px;
  font-size: 1.5em;
}

.div_form textarea {
  width: 99%;
  height: 114px;
  border-radius: 5px;
  font-size: 1.5em;
}

.photograph-header .photo img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
}

.label-sorter {
  font-size: 1.12em;
  font-weight: 700;
}

#sorter-select {
  background: #901C1C;
  color: white;
  font-weight: 700;
  font-size: 1.12em;
  width: 170px;
  border-radius: 5px;
  padding: 23px 0px 23px 20px;
}

.media-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 114px;
  text-align: center;
}
.media-section article {
  display: flex;
  flex-wrap: wrap;
  width: 29%;
  margin: 1%;
}

.media-section a {
  text-decoration: none;
  outline: none;
  width: 100%;
  height: 90.4%;
}
.media-section a .containerMedia {
  height: 300px;
}

.media-section img, .media-section video {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
}

.description {
  display: flex;
  width: 100%;
  color: #901C1C;
  justify-content: flex-end;
  font-size: 1.15em;
  margin-right: 1%;
  margin-left: 0.5%;
}
.description .titre {
  margin-right: auto;
}
.description .titre p {
  margin: 2.5% 0 0 0;
}
.description .numberLike {
  display: flex;
  width: 15%;
  justify-content: flex-end;
}
.description .numberLike .likes {
  font-weight: 600;
  margin: 2.5% 0 0 0;
}
.description .numberLike .heart {
  width: 20px;
  fill: transparent;
  stroke: #901C1C;
  stroke-width: 22px;
}

.likes__btn {
  margin-top: 6%;
  margin-left: 7%;
}

.like-price {
  position: fixed;
  right: 36px;
  bottom: 0%;
  width: 20%;
}
.like-price .price-background {
  display: flex;
  justify-content: space-around;
  background: #D3573C;
  border-radius: 5px 5px 0px 0px;
  font-weight: 600;
}

.like-photographer {
  display: flex;
  flex-wrap: nowrap;
  width: 50%;
  margin-top: auto;
}
.like-photographer p {
  margin-top: 0;
}
.like-photographer .heart {
  margin-bottom: 12%;
  margin-left: 5%;
  width: 20px;
  fill: black;
  stroke-width: 13px;
}

h1 {
  color: #901C1C;
}

.logo {
  height: 50px;
}

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;
  margin-bottom: 114px;
  text-align: center;
}

.photographer_section article a {
  text-decoration: none;
  outline: none;
}

.photographer_section article {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.photographer_section article img {
  height: 200px;
  width: 200px;
  border-radius: 100%;
}

.photographer_section article h2 {
  color: #D3573C;
  font-size: 2em;
  margin-bottom: 0px;
}

.photographer_section article .location, .photographer_section article .tagline, .photographer_section article .price {
  margin: 0px;
  text-align: center;
}

.photographer_section article .location {
  color: #901C1C;
  font-size: 0.9em;
}

.photographer_section article .tagline {
  color: black;
  font-size: 0.85em;
}

.photographer_section article .price {
  color: #757575;
  font-size: 0.8em;
}

/*# sourceMappingURL=style.css.map */
