/* Guide d'accessibilité */
$background-primary: #901C1C;           $color-primary: white;
$background-second-primary: white;      $color-second-primary: #D3573C;
$background-secondary: #D3573C;         $color-secondary: black;
$background-second-secondary: #fafafa;  $color-second-secondary: #525252;
$background-third-secondary: white;     $color-third-secondary: #901C1C;
$background-static: #901C1C;            $color-static: white;
$background-focus: #D3573C;             $color-focus: black;
